<html>
<head>


    <title>Charger BD COMIC-MAKER</title>
    <?- include('partials/head.html') ?>
    <?- include('partials/header.html') ?>

</head>
<body><!-- Navigation -->

	<br><br><br><br>
	<div class="container" >
		<h3>Veuillez indiquer le fichier à charger sur notre site afin de le partager à nos utilisateurs :</h2>
		<br>
		<div class="container">
		<p>Indiquez un fichier à charger(.jpg .pdf .cm) : </p>
		<br>
		<input type="file" id="bd" name="bd"
          accept=".jpg, .pdf, .cm">
		<br><br>
		<button type="submit" class="nav-link js-scroll-trigger">Charger</button>
		</div>
	</div>
  <?- include('partials/footer.html') ?>
  <?- include('partials/foot.html') ?>
</body>
</html>
