<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bienvenue sur COMIC MAKER</title>

    <?- include('partials/head.html') ?>
    <?- include('partials/header.html') ?>

</head>

<body id="page-top">

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue sur le site de COMIC MAKER</h1>
        <p class="lead">Une application java de création de bande dessinée amusante !</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Information</h2>
            <p class="lead">Si vous souhaitez essayer notre application d'edition et création de bande dessinée n'hesitez pas à la télécharger. Vous pourrez alors :</p>
            <ul>
              <li>Lire des bandes dessinées editées par nos utilisateurs !</li>
              <li>Créer vos propre bande dessinée dont vous serez l'auteur !</li>
              <li>Télécharger des personnage et objets de vos bande dessinée et hero preferés !</li>
              <li>Etre le hero de vos histoire, et etre connu sur internet garce à vitre imagination sans failles !</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Télécharger</h2>
            <p class="lead">Cliquez sur le lien suivant afin de télécharger et installer notre merveilleuse application benie des Dieux :</p>
		<button type="button" class="nav-link js-scroll-trigger"><a href"https://github.com/FrancoisBasset/Comic-Maker-API-NodeJS/archive/master.zip" >Télécharger CM Java-snapshot0.0.1</a></button>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contacter</h2>
            <p class="lead">N'hesitez a venir vers nous si besoin est ! Nous serons toujours present pour vous et pour vos idées d'ameliorations !</p>
          </div>
        </div>
      </div>
    </section>

<?- include('partials/footer.html') ?>
<?- include('partials/foot.html') ?>
</body>

</html>
