<!DOCTYPE html>
<html lang="en">

<head>
    <?- include('partials/head.html') ?>
</head>

<body id="page-top">
    <?- include('partials/header.html') ?>
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Bienvenue sur le site de COMIC MAKER</h1>
        <p class="lead">Une application java de création de bande dessinée amusante !</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Informations</h2>
            <p class="lead">Si vous souhaitez essayer notre application d’Edition  et création de bande dessinée n'hésitez pas à la télécharger. Vous pourrez alors :</p>
            <ul>
              <li>Lire des bandes dessinées éditées par nos utilisateurs !</li>
              <li>Créez vos propres bandes dessinées dont vous serez l'auteur !</li>
              <li>Télécharger des personnages et objets de vos bande dessinée et héros préférés !</li>
              <li>Etre le héro de vos histoires, et être connu sur internet grâce à votre imagination sans failles !</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="download" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Télécharger</h2>
            <p class="lead">Cliquez sur le lien suivant afin de télécharger et installer notre merveilleuse application :</p>
		<button type="button" class="nav-link js-scroll-trigger"><a href="pygame.msi"
                 download="CMJavaSnapshot.jar">Télécharger CM Java-snapshot 0.0.1</a></button>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contacter</h2>
            <p class="lead">N'hésitez à venir vers nous si besoin est ! Nous serons toujours présents pour vous et pour vos idées d'améliorations !</p>
          </div>
        </div>
      </div>
    </section>

<?- include('partials/footer.html') ?>
<?- include('partials/foot.html') ?>
</body>

</html>
