<html>
<head>
  <?- include('partials/head.html') ?>
</head>
<body>
  <?- include('partials/header.html') ?>
  <br><br><br><br>
  <div class="container">
	    <h2 class="display-4">Vous pouvez retrouver ici, les plugins disponibles :</h2>

    <br><br><br>

    <table class="table table-striped">
       <thead>
         <tr>
           <th>Nom</th>
           <th>Fonction</th>
           <th> </th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Anglais</td>
           <td>Permet de mettre votre application en anglais</td>
           <td>
             <a href="pygame.msi"
             download="englishCM.msi">
             <button type="button" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-download">Télécharger</span>
             </a>
           </td>
         </tr>
         <tr>
           <td>Espagnol</td>
           <td>Permet de mettre votre application en espagnol</td>
           <td>
             <a href="pygame.msi"
             download="spanishCM.msi">
             <button type="button" class="btn btn-default btn-sm">
             <span class="glyphicon glyphicon-download">Télécharger</span>
             </a>
           </td>
         </tr>
         <tr>
           <td>Theme Darcula</td>
           <td>Change la couleur de votre theme</td>
           <td>
              <a href="pygame.msi"
              download="darkthemeCM.msi">
              <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-download">Télécharger</span>
              </a>
             </button>
           </td>
           </td>
         </tr>
         <tr>
           <td>Engistrement PDF</td>
           <td>Donne la possibilité d'enregistrer vos créations en PDF</td>
           <td>
              <a href="pygame.msi"
              download="darkthemeCM.msi">
              <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-download">Télécharger</span>
              </a>
             </button>
           </tr>
       </tbody>
     </table>
     </div>
     <br><br><br>     <br><br><br>     <br><br><br>     <br><br><br>

  <?- include('partials/footer.html') ?>
  <?- include('partials/foot.html') ?>
</body>
</html>
