<html>
<head>
  <?- include('partials/head.html') ?>
</head>
<body>
  <?- include('partials/header.html') ?>
	<br><br><br><br>
	<div class="container">
			<p>Veuilliez vous connecter pour continuer :</p>
	<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Adresse mail :</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@exemple.fr">
    <small id="emailHelp" class="form-text text-muted">Votre adresse ne sera jamais connue</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe :</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="12345">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>

	<p>Pas encore inscrit ? Cliquez <a href="/inscription/" >ici</a>.</p>
	</div>
  <?- include('partials/footer.html') ?>
  <?- include('partials/foot.html') ?>
</body>
</html>
